{% load static %}
<div class="div1">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form.name }}
            <p></p>
            {{ form.region }}
            <p></p>
            <button class="button button1" type="submit" value="Submit">Search Summoner</button>
        </div>
    </form>

</div>

    <form action="/signup" method="post">
        {% csrf_token %}
        <button type="submit" class="square_btn">SIGN UP</button>
        <button type="submit" class="square_btn_r">SIGN IN</button>
    </form>
    <div class="dropdown">
        <button class="dropbtn">Signed Up Players</button>
        <div class="dropdown-content">
            {% for item in all_players %}
            <p><a href="#" style="color: white;">{{ item }}</a></p>
            {% endfor %}
        </div>
    </div>



<style>
.square_btn_r {
  background-color: #6360DC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  float: right;

}
.square_btn {
  background-color: #6360DC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;

}

.square_btn:active {/*onClick*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}
body {
  background-image: url('{% static "bg.png"%}');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.div1 {
    text-align: center;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
::-webkit-input-placeholder {
        text-align: center;
      }
      :-moz-placeholder {
        text-align: center;
      }
  .button {
  background-color: #034f84;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  font-weight: bold;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropbtn {
  background-color: #034f84;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  margin-right: 20px;
  border-radius: 8px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #034f84;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




</style>