<!DOCTYPE html>
<html>
<title>{{ sumName }}'s Profile</title>
<div class="container" style="background-color: #C4D8F2">
    <div class="center">
        <h1 style="color:black;">
            <img src="{{ my_icon_id }}" alt="" width="42" height="42"
                 style="vertical-align:middle;margin:0px 15px">{{ sumName }}'s Profile</h1>
    </div>


    <head>
        <style>
.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-container-th{
padding: 15px;
}
.flex-container-td{
padding: 15px;
}
.div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
        </style>
    </head>
    <body>

    <h1 style="color:black; text-align: center; justify-content: center; background-color: #C9FFED;">My Stats</h1>

    <div class="flex-container-row">
        <div>
            <div class="center"><h2 style="color: darkslateblue;">My Information</h2></div>
                <div class="flex-container-th"><b>{{ sumName }}'s Level: </b> {{ sumLevel }}</div>
                <div class="flex-container-th"> <b>Veteran: </b> {{ veteran }}</div>
                <div class="flex-container-th"> <b>Inactive: </b> {{ inactive }}</div>
                <div class="flex-container-th"> <b>Fresh Blood: </b> {{ freshBlood }}</div>
                <div class="flex-container-th"> <b>Hot Streak: </b> {{ hotStreak }}</div>
        </div>
        <div>
            <div class="center"><h2 style="color: darkslateblue;">Ranked Stats</h2></div>
                <div class="flex-container-th"><b>Queue Type: </b> {{ veteran }}</div>
                <div class="flex-container-th"> <b>My Rank: </b> {{ tier }} {{ rank }} </div>
                <div class="flex-container-th"> <b>My LP: </b> {{ leaguePoints }}</div>
                <div class="flex-container-th"> <b>Win/Lose: </b> {{ winNumber }}/{{ loseNumber }} </div>
                <div class="flex-container-th"> <b>Win Rate: </b> %{{ wrPerc }}</div>

        </div>
        <div>
            <div class="center"><h2 style="color: darkslateblue; ">My Last Match</h2></div>
            <div class="flex-container-th"><b>Match Mode: </b> {{ gameMode }}</div>
            <div class="flex-container-th"> <b>Game Duration: </b>{{ gameMin }}m {{ gameSec }}s</div>
            <div class="flex-container-th"> <b>Role: </b> {{ myRole }}</div>
            <div class="flex-container-th"> <b>Champion: </b> {{ lastChampion }}</div>
            <div class="flex-container-th"> <b>Win or Lose: </b>
                {% if lastWinLose == false %}
                    <b style="color:red;">Lose:(</b>
                {% else %}
                    <b style="color:green;">Win:)</b>
                {% endif %}
            </div>
        </div>
    </div>

        <h1 style="color:black; text-align: center; background-color: #C9FFED;">Last Match Details</h1>

    <div class="flex-container-row">
        <div><h3 style="text-align: center;">First Team</h3></div>
        <div><h3 style="text-align: center;">Second Team</h3></div>
     </div>
    <div class="flex-container-row">
        <div class="flex-container-row" style="justify-content: center; text-align: center;">
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Players</b></div>
                    {% for x in first_team %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Champions</b></div>
                    {% for x in first_team_champName %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>KDA</b></div>
                    {% for x in first_team_kda %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Levels</b></div>
                    {% for x in first_team_level %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Total Gold</b></div>
                    {% for x in first_team_gold %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Solo Kills</b></div>
                    {% for x in first_team_soloKills %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
        </div>
        <div class="flex-container-row">
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Players</b></div>
                    {% for x in second_team %}
                   <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Champions</b></div>
                    {% for x in second_team_champName %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>KDA</b></div>
                    {% for x in second_team_kda %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Levels</b></div>
                    {% for x in second_team_level %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Total Golds</b></div>
                    {% for x in second_team_gold %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
                <div class="flex-container-column"><div style="margin: 15px; justify-content: center; text-align: center;"><b>Solo Kills</b></div>
                    {% for x in second_team_soloKills %}
                    <div style="margin: 15px; justify-content: center; text-align: center;" >{{ x }}</div>
                    {% endfor %}
                </div>
        </div>
    </div>

    </body>
</div>
</html>